<div class="flex flex-col sm:flex-row h-[40rem]">
  <div class="inline-flex sm:hidden">
    <button
      id="dropdownUsersButton"
      data-dropdown-toggle="dropdownUsers"
      data-dropdown-placement="bottom"
      class="mx-4 text-black inline-flex items-center bg-transparent p-2 rounded-lg"
      type="button"
    >
      User List
      <svg
        class="w-4 h-4 ml-2"
        aria-hidden="true"
        fill="none"
        stroke="currentColor"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M19 9l-7 7-7-7"
        ></path>
      </svg>
    </button>
    <!-- Dropdown menu -->
    <div
      id="dropdownUsers"
      class="z-10 hidden bg-white rounded-lg shadow w-60 dark:bg-gray-700"
    >
      <app-user-list></app-user-list>
    </div>
  </div>
  <app-user-list
    class="h-[90%] basis-1/4 py-4 pl-4 pr-2 hidden sm:block"
  ></app-user-list>
  <div class="h-[90%] basis-full sm:basis-3/4 sm:py-4 py-0 pr-4 pl-2">
    <app-feed [chats]="chats$ | async"></app-feed>
    <!-- <app-feed [chats]="chats"></app-feed> -->
    <app-chat-form (newChatEvent)="addChat($event)"></app-chat-form>
  </div>
</div>
