<a
  href="#"
  class="mb-2 flex items-center bg-white border border-gray-200 rounded-lg shadow md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700"
>
  <img
    class="rounded-full w-10 ml-4"
    src="https://xelex.vn/FileManager/Download/?filename=%5cimage_upload%5c1e650d84-f469-4593-a097-f4eb310abbc8.jpg"
    alt=""
  />
  <div class="flex flex-col justify-between p-2 leading-normal">
    <h5 class="text-lg font-bold tracking-tight text-gray-900 dark:text-white">
      Test user
    </h5>
    <p class="font-normal text-gray-700 dark:text-gray-400">Active</p>
  </div>
</a>
